.container {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}
.titlePhonebook {
  font-size: 40px;
  text-transform: uppercase;
  color: rgb(255, 241, 114);
  padding: 20px 0;
}
.titlePhonebook-appear {
  transform: translateX(-100%);
}
.titlePhonebook-appear-active {
  transform: translateX(0);
  transition: transform 500ms linear;
}
.alert-enter {
  transform: translateX(100%);
}

.alert-enter-active {
  transform: translateX(0);
  transition: transform 250ms linear;
}

.alert-exit {
  transform: translateX(0);
}

.alert-exit-active {
  transform: translateX(100%);
  transition: transform 250ms linear;
}
